In [12]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [3]:
df = pd.read_csv('data/eda_data.csv', index_col=0)

In [9]:
# Dropping unnecessary columns
df.drop(['id','fltid','arr_iata','dep_iata'],axis=1,inplace=True)

In [13]:
categorical_columns = ['depstn','arrstn','status','ac','dep_country','arr_country','season', 'airline_code']

# Converting strings to numerical values
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
for i in categorical_columns:
    df[i]= label_encoder.fit_transform(df[i])

df.head().T

,0,1,2,3,4
datop,2.016010e+07,2.016011e+07,2.016012e+07,2.016012e+07,2.016012e+07
depstn,3.100000e+01,8.600000e+01,1.230000e+02,3.700000e+01,1.230000e+02
arrstn,1.190000e+02,1.190000e+02,5.800000e+01,9.100000e+01,4.000000e+00
std,1.030000e+05,1.505000e+05,4.100000e+04,1.410000e+05,1.430000e+05
sta,1.255000e+05,1.655000e+05,6.450000e+04,1.700000e+05,1.550000e+05
status,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
ac,4.600000e+01,2.800000e+01,4.600000e+01,5.000000e+01,3.400000e+01
target,2.600000e+02,2.000000e+01,0.000000e+00,0.000000e+00,2.200000e+01
dep_country,3.100000e+01,2.600000e+01,5.100000e+01,5.100000e+01,5.100000e+01
dep_elevation,6.560000e+02,7.680000e+02,2.200000e+01,1.900000e+01,2.200000e+01
dep_lat,3.336750e+01,4.563060e+01,3.685100e+01,3.387500e+01,3.685100e+01
dep_lon,-7.589970e+00,8.728110e+00,1.022720e+01,1.077550e+01,1.022720e+01
arr_country,4.800000e+01,4.800000e+01,4.900000e+01,1.700000e+01,1.400000e+01
arr_elevation,2.200000e+01,2.200000e+01,3.250000e+02,9.000000e+01,8.200000e+01
arr_lat,3.685100e+01,3.685100e+01,4.127533e+01,4.715320e+01,3.669100e+01
arr_lon,1.022720e+01,1.022720e+01,2.875200e+01,-1.610730e+00,3.215410e+00
airline_code,1.400000e+01,1.400000e+01,1.400000e+01,1.400000e+01,1.400000e+01
elevation_dif,-6.340000e+02,-7.460000e+02,3.030000e+02,7.100000e+01,6.000000e+01
flight_time_in_min,1.450000e+02,1.100000e+02,1.550000e+02,1.700000e+02,8.000000e+01
flight_distance_in_km,1.667000e+03,9.830000e+02,1.673000e+03,1.805000e+03,6.260000e+02
average_flight_speed_km_h,6.900000e+02,5.360000e+02,6.480000e+02,6.370000e+02,4.700000e+02
international_flight,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
year,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
month,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
day,3.000000e+00,1.300000e+01,1.600000e+01,1.700000e+01,1.700000e+01
season,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00

In [15]:
df.to_csv('data/labelencoded_data.csv', index=True)