In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from scripts import ensemble_methods as ems
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [34]:
df = pd.read_csv('data/labelencoded_data.csv',index_col=0)
X = df.drop(['target'],axis=1)
y = df['target'] 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [38]:
df.columns

Index(['datop', 'depstn', 'arrstn', 'std', 'sta', 'status', 'ac', 'target',
       'dep_country', 'dep_elevation', 'dep_lat', 'dep_lon', 'arr_country',
       'arr_elevation', 'arr_lat', 'arr_lon', 'airline_code', 'elevation_dif',
       'flight_time_in_min', 'flight_distance_in_km',
       'average_flight_speed_km_h', 'international_flight', 'year', 'month',
       'day', 'season'],
      dtype='object')

In [8]:
# XG Boost
%%capture output
%load_ext autoreload
%autoreload 2
results = ems.use_xgboost_regression(X_train,X_test,y_train,y_test)
display(results)

In [9]:
display(results)

  Evaluation Metric  Cross Validation Score   Model Score
0                r2            2.160116e-02  2.606744e-02
1               mse            1.325803e+04  1.372880e+04
2              rmse            1.151050e+02  1.171700e+02
3               mae            5.376122e+01  5.301262e+01
4              mape                     inf           inf

In [29]:
# AdaBoost
%reload_ext autoreload
%autoreload 2
results = ems.use_AdaBoost(X_train,X_test,y_train,y_test)
display("R2 for train data: ",results[0]," R2 for test data: ",results[1])

'R2 for train data: '

-0.1207122238520062

' R2 for test data: '

-0.12320481955498153

In [31]:
X_train.head().T

,76952,39411,18120,100964,44997
datop,2.018080e+07,2.017052e+07,2.016022e+07,2.018103e+07,2.017041e+07
depstn,8.100000e+01,1.230000e+02,8.100000e+01,3.700000e+01,7.900000e+01
arrstn,7.400000e+01,1.100000e+02,8.700000e+01,4.100000e+01,1.190000e+02
std,1.340000e+05,1.310000e+05,7.000000e+04,6.350000e+04,1.725000e+05
sta,1.540000e+05,1.530000e+05,8.450000e+04,9.350000e+04,1.935000e+05
status,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
ac,4.600000e+01,5.500000e+01,5.000000e+01,4.300000e+01,3.900000e+01
dep_country,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,1.700000e+01
dep_elevation,9.000000e+00,2.200000e+01,9.000000e+00,1.900000e+01,2.001000e+03
dep_lat,3.575810e+01,3.685100e+01,3.575810e+01,3.387500e+01,4.049360e+01
dep_lon,1.075470e+01,1.022720e+01,1.075470e+01,1.077550e+01,-3.566760e+00
arr_country,4.400000e+01,1.700000e+01,1.700000e+01,1.100000e+01,4.800000e+01
arr_elevation,1.273000e+03,5.050000e+02,1.200000e+01,1.470000e+02,2.200000e+01
arr_lat,4.622370e+01,4.853830e+01,4.365840e+01,5.128950e+01,3.685100e+01
arr_lon,1.445760e+01,7.628230e+00,7.215870e+00,6.766780e+00,1.022720e+01
airline_code,1.400000e+01,1.400000e+01,1.400000e+01,1.400000e+01,1.400000e+01
elevation_dif,1.264000e+03,4.830000e+02,3.000000e+00,1.280000e+02,-1.979000e+03
flight_time_in_min,1.200000e+02,1.400000e+02,1.050000e+02,1.800000e+02,1.300000e+02
flight_distance_in_km,1.203000e+03,1.315000e+03,9.280000e+02,1.962000e+03,1.265000e+03
average_flight_speed_km_h,6.020000e+02,5.640000e+02,5.300000e+02,6.540000e+02,5.840000e+02
international_flight,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
year,2.018000e+03,2.017000e+03,2.016000e+03,2.018000e+03,2.017000e+03
month,8.000000e+00,5.000000e+00,2.000000e+00,1.000000e+01,4.000000e+00
day,1.000000e+00,2.400000e+01,1.900000e+01,2.600000e+01,1.200000e+01
season,2.000000e+00,1.000000e+00,3.000000e+00,0.000000e+00,1.000000e+00