In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

import joblib

In [2]:
# Importing data
df = pd.read_csv('data/labelencoded_data.csv',index_col=0)
df.drop(['id', 'std', 'sta', 'fltid','arr_iata','dep_iata','ac'], axis=1,inplace=True)

In [7]:
df.head().T

,0,1,2,3,4
datop,2.016010e+07,2.016011e+07,2.016012e+07,2.016012e+07,2.016012e+07
depstn,3.100000e+01,8.600000e+01,1.230000e+02,3.700000e+01,1.230000e+02
arrstn,1.190000e+02,1.190000e+02,5.800000e+01,9.100000e+01,4.000000e+00
status,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
target,2.600000e+02,2.000000e+01,0.000000e+00,0.000000e+00,2.200000e+01
dep_country,3.100000e+01,2.600000e+01,5.100000e+01,5.100000e+01,5.100000e+01
dep_elevation,6.560000e+02,7.680000e+02,2.200000e+01,1.900000e+01,2.200000e+01
dep_lat,3.336750e+01,4.563060e+01,3.685100e+01,3.387500e+01,3.685100e+01
dep_lon,-7.589970e+00,8.728110e+00,1.022720e+01,1.077550e+01,1.022720e+01
arr_country,4.800000e+01,4.800000e+01,4.900000e+01,1.700000e+01,1.400000e+01
arr_elevation,2.200000e+01,2.200000e+01,3.250000e+02,9.000000e+01,8.200000e+01
arr_lat,3.685100e+01,3.685100e+01,4.127533e+01,4.715320e+01,3.669100e+01
arr_lon,1.022720e+01,1.022720e+01,2.875200e+01,-1.610730e+00,3.215410e+00
airline_code,1.400000e+01,1.400000e+01,1.400000e+01,1.400000e+01,1.400000e+01
elevation_dif,-6.340000e+02,-7.460000e+02,3.030000e+02,7.100000e+01,6.000000e+01
flight_time_in_min,1.450000e+02,1.100000e+02,1.550000e+02,1.700000e+02,8.000000e+01
flight_distance_in_km,1.667000e+03,9.830000e+02,1.673000e+03,1.805000e+03,6.260000e+02
average_flight_speed_km_h,6.900000e+02,5.360000e+02,6.480000e+02,6.370000e+02,4.700000e+02
international_flight,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
year,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
month,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
day,3.000000e+00,1.300000e+01,1.600000e+01,1.700000e+01,1.700000e+01
season,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00
std_time,1.030000e+05,1.505000e+05,4.100000e+04,1.410000e+05,1.430000e+05
sta_time,1.255000e+05,1.655000e+05,6.450000e+04,1.700000e+05,1.550000e+05

In [3]:
# Splitting data
X = df[['arrstn','depstn','std_time','sta_time','flight_time_in_min','datop']]
y = df['target'] 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [4]:
X.head()

   arrstn  depstn  std_time  sta_time
0     119      31    103000    125500
1     119      86    150500    165500
2      58     123     41000     64500
3      91      37    141000    170000
4       4     123    143000    155000

In [4]:
# Logistic Regression
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

/home/pclinux/spiced/data_science/flight_delays_ML/.venv/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

RMSE: 128.3257319386446

In [5]:
# Save the model to a file
model_filename = './data/api_test_logistic_regression_model.pkl'
joblib.dump(lr, model_filename)

['./data/api_test_logistic_regression_model.pkl']